.Thumbnail{
    background-image: url("images/thumbnail.png");
    background-size: 75% 75%;
}

.titre{
    display: flex;
    align-items: left;
    font-size: 400%;
    padding-left: 3%;
    color: white;
}

.desc{
    display: flex;
    align-items: left;
    text-align: justify;
    margin-right: 60%;
    padding-left: 3%;
    font-size: 150%;
    color: white;
    padding-bottom: 30%;
}